body{

    margin: 0px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "WorkSans";
    
}

/* header*/
header{
  margin-top: 45px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  background-image: url(andrew-kliatskyi-HHK2xGa6vJo-unsplash.jpg); 
  align-items: center;
  height: 400px;


  color: azure; 
  font-size: 50px;
  padding: 100px;

}


/* navegador*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

  

  
/* paginas*/
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    display: inline-block;
    width: 24.99999%;
  }
  
 
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* contact*/
form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

label, input, textarea, .sbutton {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input, textarea, .sbutton {
  padding: 10px;
  font-size: 16px;
  border:2px solid #555555 ;
  border-radius: 5px;
}

.sbutton {
  background-color: #4286f4;
  color: #fff;
  cursor: pointer;
}

select {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

#contact{

  
    display: flex;
    justify-content: center;
    margin: 3% auto;
    

}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.button {
  background-color: #f8f8f800; /* Green */
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button5:hover {
  background-color: #000000;
  color: white;
}
#resume{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contactext{
margin:auto auto;

}


  #global {
    background: rgb(46,44,44);
background: radial-gradient(circle, rgba(46,44,44,1) 0%, rgba(33,33,38,1) 70%, rgba(0,0,0,1) 100%);
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position:relative;
  }
#aboutme{
  text-align: justify;
margin-left:20% ;
margin-right: 20%;

}
.links {
    padding: 25px;
    width: auto;
    flex-direction: column;
}
h1{
  font-size: 50px;
  text-decoration: underline;
}
.links p,
.links h1,
#social h1 {
    justify-content: center;
    padding: 0%;
    font-size: 15px;
}

#social {
    padding: 25px;
    width: auto;
    flex-direction: column;
}

#social div {
    width: 100px;
}

#social img {
    margin: 10px;
}

.links a,
#social a {
    text-decoration: none;
    color: rgb(161, 161, 161);
}
#inline {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
p{
  margin: 4px 0px;
}



@media only screen and (max-width: 769px) {
  header{
margin-top: 0px;
  
  }
  .button{
    margin: auto;

  }
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: #555;
    height: auto;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #020202;
    color: white;
  }
  .navbar{
    display: none;

  }
  @media (max-width: 768px) {
    header{

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      justify-content: center;
      background-image: url(andrew-kliatskyi-HHK2xGa6vJo-unsplash.jpg); 
      align-items: center;
      height: 400px;
    
    
      color: azure; 
      font-size: 50px;
      padding: 100px;
    
    }
    form {
      max-width: 100%;
      padding: 0;
    }
    
    label, input, textarea, .sbutton {
      margin-bottom: 10px;
    }
    
    input, textarea, .sbutton {
      padding: 5px;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 320px) {
  header{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-image: url(andrew-kliatskyi-HHK2xGa6vJo-unsplash.jpg); 
    align-items: center;
    height: 400px;
  
  
    color: azure; 
    font-size: 50px;
    padding: 100px;
  
  }
}
@media only screen and (min-width: 769px) {
  
  header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-image: url(andrew-kliatskyi-HHK2xGa6vJo-unsplash.jpg); 
    align-items: center;
    height: 400px;
  
  
    color: azure; 
    font-size: 50px;
    padding: 100px;
  
  }
  .mobile-container{
  display: none;
 }
}
@font-face {
  font-family: "WorkSans";
  src: url(/Work_Sans/WorkSans-VariableFont_wght.ttf) ;

} 
