/*BODY */

body {
    background-color: beige;
    margin: 40px;
    font-family: "Oswald";
}
/*Header */
header{
    text-align: center;
}

a {
    color: rgb(251, 251, 251);
    text-decoration: none;

}
/*titulo del nav */
.titol {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+50,de47ac+100;Pink+3D */
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */

    display: flex;
    justify-content: center;
}
/*titulos de links */
#titol1{
    text-align: center;
    color: red;
    text-decoration: none;

}

/*articulos */
article.articles {

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: inline-block;

    border-radius: 20px;

    box-shadow: 5px 5px 12px rgb(0, 0, 0);
    text-align:center;



}
#inputext{
    margin-left: 50px;
}
/*formulari */
#form{
    
    text-align: left;
    margin-left: 50px;
}

input[type=text] {
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
#colorform{
    background-color: #799bc8;
}
select {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }


/*fotos */
.fotos {
    padding: 0px;
    padding-top: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: auto;
}


.fotos1 {
    justify-content: right;
    display: flex;
    padding: 0px;
    padding-top: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin: auto;
    
}

ul,li {
    padding: 0, 0;
    margin: 5px, 5px;
    display: inline-block;
}
/*footer */
#footer{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

text-align: center;

}
#copy{
    color: white;
    text-align: left;
}

.icono{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;    
}

/*POSICION */
.sectionart{
    text-align: center;
}
#centre{
    text-align: center;
    color: white;
}
#esquerra{
    text-align: left;
    color: rgb(0, 0, 0);
    
}
#esquerramarg{
    text-align: left;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    
}
#dreta{
    margin-inline-end: 300px;
    text-align: right;
    color: black;
    
}

/*fuentes */
@font-face {
    font-family: "Oswald";
    src: url(Oswald/static/Oswald-Medium.ttf) ;
  
}
